<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <title>Document</title>
</head>

<body>
  <script type="text/javascript">
    (function ($) {
      var handler = Plaid.create({
        clientName: 'Plaid Quickstart',
        env: 'development',
        key: 'e9ed8a00493aed46d0d2984844072b',
        product: ['transactions'],
        // Optional – use webhooks to get transaction and error updates
        webhook: 'https://requestb.in',
        onLoad: function () {
          // Optional, called when Link loads
        },
        onSuccess: function (public_token, metadata) {
          // Send the public_token to your app server.
          // The metadata object contains info about the institution the
          // user selected and the account ID or IDs, if the
          // Select Account view is enabled.
          Print.postMessage(public_token);
          // $.post('/get_access_token', {
          //   public_token: public_token,
          // });
        },
        onExit: function (err, metadata) {
          // The user exited the Link flow.
          if (err != null) {
            // The user encountered a Plaid API error prior to exiting.
          }
          // metadata contains information about the institution
          // that the user selected and the most recent API request IDs.
          // Storing this information can be helpful for support.
        },
        onEvent: function (eventName, metadata) {
          // Optionally capture Link flow events, streamed through
          // this callback as your users connect an Item to Plaid.
          // For example:
          // eventName = "TRANSITION_VIEW"
          // metadata  = {
          //   link_session_id: "123-abc",
          //   mfa_type:        "questions",
          //   timestamp:       "2017-09-14T14:42:19.350Z",
          //   view_name:       "MFA",
          // }
        }
      });

      $(document).ready(()=>{
        handler.open();
      })
      // $('#link-button').on('click', function (e) {
      //   handler.open();
      // });
    })(jQuery);
  </script>
</body>

</html>